@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@import "./typorgraphy.css";

@theme {
  /* Black & White */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Neutral colors */
  --color-neutral-700: #2f2f2f;
  --color-neutral-600: #484848;
  --color-neutral-500: #6b6b6b;
  --color-neutral-400: #9c9c9c;
  --color-neutral-300: #b7b7b7;
  --color-neutral-200: #d3d3d3;
  --color-neutral-100: #e7e7e7;
  --color-neutral-50: #f4f4f4;

  /* Primary Blue */
  --color-primary-blue-700: #192f65;
  --color-primary-blue-600: #1a3c7b;
  --color-primary-blue-500: #2652c4;
  --color-primary-blue-400: #2e67e2;
  --color-primary-blue-300: #4a83f1;
  --color-primary-blue-200: #6d99f3;
  --color-primary-blue-100: #a3bff8;
  --color-primary-blue-50: #d8e5fd;

  /* Primary Green */
  --color-primary-green-700: #0f633e;
  --color-primary-green-600: #147a4e;
  --color-primary-green-500: #199b63;
  --color-primary-green-400: #26bb81;
  --color-primary-green-300: #36d695;
  --color-primary-green-200: #63e0af;
  --color-primary-green-100: #92eac5;
  --color-primary-green-50: #c7f5e2;

  /* Primary Red */
  --color-primary-red-700: #7c1d39;
  --color-primary-red-600: #9d2344;
  --color-primary-red-500: #e03b67;
  --color-primary-red-400: #e95a7f;
  --color-primary-red-300: #ee7a97;
  --color-primary-red-200: #f29baf;
  --color-primary-red-100: #f7bdc9;
  --color-primary-red-50: #fadde4;

  /* Primary Orange */
  --color-primary-orange-700: #a83800;
  --color-primary-orange-600: #c94212;
  --color-primary-orange-500: #ed5c34;
  --color-primary-orange-400: #f47458;
  --color-primary-orange-300: #f78d75;
  --color-primary-orange-200: #f9a693;
  --color-primary-orange-100: #fbcbbf;
  --color-primary-orange-50: #fde8e1;

  /* Danger (Red) */
  --color-danger-700: #c22826;
  --color-danger-600: #d63a3a;
  --color-danger-500: #e85f5c;
  --color-danger-400: #eb7d7a;
  --color-danger-300: #f1a3a1;
  --color-danger-200: #f6c4c3;
  --color-danger-100: #f9dddc;
  --color-danger-50: #fceeee;

  /* Warning (Yellow) */
  --color-warning-700: #d18300;
  --color-warning-600: #eba600;
  --color-warning-500: #ffd249;
  --color-warning-400: #ffda6c;
  --color-warning-300: #ffe48f;
  --color-warning-200: #ffedb2;
  --color-warning-100: #fff5d4;
  --color-warning-50: #fffbea;

  /* Success (Green) */
  --color-success-700: #0f6b42;
  --color-success-600: #108550;
  --color-success-500: #36b37e;
  --color-success-400: #4bc393;
  --color-success-300: #7dd4b0;
  --color-success-200: #a6e2c8;
  --color-success-100: #caeedf;
  --color-success-50: #e7f7f1;

  /* Info (Blue) */
  --color-info-700: #1d4ed8;
  --color-info-600: #2563eb;
  --color-info-500: #3b82f6;
  --color-info-400: #60a5fa;
  --color-info-300: #93c5fd;
  --color-info-200: #bfdbfe;
  --color-info-100: #dbeafe;
  --color-info-50: #eff6ff;

  /* Font Family */
  --font-primary: "Tajawal", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Titles */
  --font-size-title-42: 42px;
  --line-height-title-42: 58px;

  --font-size-title-32: 32px;
  --line-height-title-32: 40px;

  --font-size-title-24: 24px;
  --line-height-title-24: 36px;

  /* Subtitles */
  --font-size-subtitle-20: 20px;
  --line-height-subtitle-20: 24px;

  --font-size-subtitle-18: 18px;
  --line-height-subtitle-18: 22px;

  --font-size-subtitle-16: 16px;
  --line-height-subtitle-16: 20px;

  /* Body */
  --font-size-body-16: 16px;
  --line-height-body-16: 24px;

  --font-size-body-14: 14px;
  --line-height-body-14: 22px;

  /* Captions */
  --font-size-caption-12: 12px;
  --line-height-caption-12: 20px;

  /* Action elements */
  --font-size-button-16: 16px;
  --line-height-button-16: 100%;

  --font-size-link-14: 14px;
  --line-height-link-14: 18px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-primary-blue-500);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
