@layer base {
  /* Title styles */
  h1,
  .heading-1 {
    font-size: clamp(2.5rem, 2.083vw + 2.083rem, 3.75rem);
    font-weight: bold;
  }

  h2,
  .heading-2 {
    font-size: clamp(2.25rem, 1.25vw + 2rem, 3rem);
    font-weight: bold;
    line-height: 1.11;
  }

  h3,
  .heading-3 {
    font-size: clamp(1.75rem, 0.833vw + 1.583rem, 2.25rem);
    font-weight: bold;
  }

  h4,
  .heading-4 {
    font-size: clamp(1.25rem, 0.417vw + 1.167rem, 1.5rem);
    font-weight: bold;
  }

  label {
    @apply !text-base lg:!text-lg xl:!text-xl;
  }

  .relaxed {
    @apply leading-9;
  }

  .snug {
    @apply leading-5;
  }

  .tight {
    @apply leading-4;
  }
}
